body{
    background-color: #02022c;
    color: #ffffff;
    font-family: Helvetica;
    background-image: url("../IMGS/survey.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header{
    margin-top: 4em;
}

.text-center{
    text-align: center;
    font-weight: bolder;
}

.text-primary{
    color: #ffd700;
    text-shadow: 3px 3px 5px #000;
    font-size: 1.5em;
    font-family: monospace;
}


#only{
    font-size: 1.5em;
}
span{
    color: #ffd700;
    text-shadow: 3px 3px 5px #000;
    font-family: monospace;
}

#logo{
    height: 1.3em;
    margin-right: 5px;
}

main{
    width: 85%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
	background: #800000;
    border: 10px ridge #800000;
	border-radius: 30px;
    color: #ffffff;
    line-height: 3.00;
    font-size: 20px;
    font-weight: bolder;
    opacity: 90%;
}

.input-group label, .input-group input {
    display: grid;
}
  
.input-group input{
	width: 80%;
    text-align: center;
    border: 10px ridge #800000;
    border-radius: 15px;
    font-size: 1em;
    font-weight: bolder;
    max-width: 602px;
    margin: 0 auto;
    padding: 5px 5px;
}
  
.input-group label{
    margin: 20px 9% -20px 9%;
}

.fs{
	padding-top: 50px;
}

select{
    width: 87.8%;
    max-width: 610px;
    margin-left: 11%;
    margin-left: 11%;
    border: 10px ridge #800000;
    border-radius: 15px;
    text-align: center;
    font-size: 1.1em;
    padding: 5px 5px;
    display: block;
    margin: 0 auto;
}

h4{
    display: block;
    margin: 30px 9% 0 9%;
    line-height: normal;
}
.only{
    margin-top: 2.5em;
}

.radio-group label, .checkbox-group label{
    display: block;
    margin-left: 10%;
    margin-bottom: -20px;
}

textarea{
    width: 82%;
    display: block;
    margin: 0 auto;
    border: 10px ridge #800000;
    border-radius: 15px;
    font-size: 1em;
    font-weight: bolder;
}
.submit-btn{
    width: 85%;
    font-size: 20px;
    display: block;
    margin: 10px auto;
    font-weight: bolder;
    border: 10px ridge #800000;
    border-radius: 15px;
    background-color: #10a510;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: green;
    animation: submit-btn 2s infinite;
}

@keyframes submit-btn {
    0%{
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    100%{
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
}

.black-hat{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 150px 0 0 300px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: rgb(45, 31, 19);
        position: absolute;
        top: -180px;
        left: 0;
}